/* .HeaderName{

    display: flex;
} */
.viratindia{

    display: flex;
}

.Kohli{

    margin-bottom: 10px;
}

.India{

    color: green;
 
    margin-left: 20px;
}






.MiddleCards{

    background-color: black;
  
    
} 


