/* .Teamsrow{

    display: flex;
     justify-content: space-around;
}
 */
/* .Predicted{
    margin-left: 20px;
    color: green;
} */

/* .Blah{

    display:flex;
}
.contain{
    display: flex;
    flex-direction: row;
}
 */