.main{

    display: flex;  
    flex-direction: row;
    justify-content: space-around;

}


.HeadProp{

    color: rgb(204, 0, 255);
   
}


.pre{

    margin-left: 80px;
}

.cardDowntxt{

    display: flex;

    justify-content: flex start;
  
}

.greenclr{

 
    color: green;
}

.blueclr{

   
    color: rgb(204, 0, 255);
}

.last{
 
    display: inline-flex;
   
    position: relative;
   

}

.lastcolor1{

    margin-right: 150px;
   
    color:green
    
}
.lastcolor2{
    margin-right: 100px;
    color: green;
}

.spann{
    font-weight: 500 ;
}

.Winnerst{

     
    display: inline-flex;
   
   margin-left: 400px;
}